<!--
</div>
<div>
  <nav>
      <a routerLink = "listCliente" class= "btn btn-primary active">Lista Clientes</a>
      <a routerLink = "newCliente" class= "btn btn-primary active">Nuevo Cliente</a>
      <a routerLink = "listPublicador" class= "btn btn-primary active">Lista Publicadores</a>
      <a routerLink = "newPublicador" class= "btn btn-primary active">Nuevo Publicador</a>
      <a routerLink = "listVivienda" class= "btn btn-primary active">Lista Viviendas</a>
      <a routerLink = "newVivienda" class= "btn btn-primary active">Nueva Vivienda</a>
      <a routerLink = "filtrarVivienda" class= "btn btn-primary active">Filtrar Vivienda</a>
  </nav>
</div>
<router-outlet></router-outlet>-->
<div *ngIf = "isHomeRoute()">
<H1 align="center" style="color:black"  >FindYourHome</H1>
<h5 align="center">¿Buscas una vivienda con diseño basado en tus gustos?</h5 >
<h5 align="center">!Estás en el sitio correcto!</h5 >
<hr style="border:20px;" style="width:100%"  style="border-color:black;" >
</div>
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>-->
 
<!--LISTADO DE ENTIDADES -->
<!--
<div class = "container buttonListadoEntidades-container" *ngIf = "isHomeRoute()">
  <nav>
    <!--<a routerLink = "listaEntidades" class = "btn btn-primary active" (click) = "toggleisClickedListado()">Listado Entidades</a>
    <a routerLink = "listaEntidades" class = "btn btn-primary active">Listado Entidades</a>
  </nav>
</div>
-->


<div align="center" *ngIf = "isHomeRoute()">

    <nav>
        
        <a routerLink="filtrarVivienda"  class="btn btn-primary active" >Comprar inmueble</a>
        <a routerLink="list" class="btn btn-primary active">Vender Inmueble</a>
        <a routerLink="filtrarVivienda"  class="btn btn-primary active">Alquilar Inmueble</a>
    </nav>    
</div>

<div style= "position:absolute; top:1;right:0" *ngIf = "isHomeRoute()">
  <H3 style="color:Black"  >Iniciar sesión</H3>
  <input placeholder="Nombre de usuario" type="text" class="form-control" id="n_usuario">
  <input placeholder="Contraseña" type="text" class="form-control" id="c_usuario">
  <button type="submit" class="btn btn-success">Ingresar</button>
  <H5 style="color:Black"  >¿Eres nuevo aquí?</H5>
  <nav>
    <a routerLink="registroEntidades/newCliente"  class="btn btn-primary active">Regístrate gratis</a>
  </nav>
</div>

<!--
<div class = "container buttonRegistroEntidades-container" *ngIf = "isHomeRoute()">
  <nav>
    <a routerLink = "registroEntidades" class = "btn btn-primary active">Registro Entidades</a>
  </nav>
</div>
-->
<div class = "container searchVivienda-container" *ngIf = "isHomeRoute()">
  <label>Buscar Vivienda por ubicacion</label>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<router-outlet></router-outlet>



