<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!--<a href="javascript:history.back()"><img class="botonAtras" src="https://imgur.com/8kOJdC9.png"></a>
-->
<div class="container">
    <div class="row" align="center">
        <div class="col">
            <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png" >  
        </div>
        <div class="col Titulo">
            <label class="label ">Registrars auspiciador</label>
        </div>
        <div class="col">
            <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png" >  
        </div>
    </div>

    
    
<div class="container contenedor" align="center" >
        <div class="row"> 
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                <form class="form-horizontal"  action="" method="post">
                    <fieldset>
                    <form (ngSubmit) = "save()" #registrarForm="ngForm" > 
                    <div class = "form-group">
                        <label class="col-md-3 control-label" for = "nombre">Nombre</label>
                        <div class="col-md-9">
                        <input type = "text" class = "form-control" id = "nombre" [(ngModel)] = "auspiciador.nombre" name ="nombre"
                        placeholder="Máximo 20 caracteres" required  minlength="2" maxlength="20">
                        </div>
                    </div>
                    
                    <div class = "form-group">  
                        <label class="col-md-3 control-label" for = "logo1" >Logo</label>
                        <div class="col-md-9"> 
                            <input type = "text" class = "form-control" id = "logo1" [(ngModel)] = "auspiciador.logo" name ="logo1"
                            placeholder="([a-zA-Z0-9_])*(.png)" required>
                        </div >
                    </div>
                    
                    <div class = "form-group" align="center">
                        <button type="submit" onclick="location.href='filtrarVivienda'" class = "btn btn-success" [disabled]="registrarForm.form.invalid">Registrar</button>
                    </div>  
                    </form>  
                </fieldset>
                </form>
            </div>                  
          
    </div>    
    
</div>

  </div>
</div>
