@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.contenedor {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 5px 8px 1px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5%;
}

.tablita{
  box-shadow: 0 5px 8px 1px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5%;

}
#mapa1-mapbox{
  width: 250px ;
  height: 200px;
  background-color: red;
  }
.images{
  width: 100px;
  height: 100px;
  opacity: .5;
  filter: grayscale(100%);
}
.brrr{
background-color: rgb(192, 190, 190);
box-shadow: 0 5px 8px 1px rgba(0,0,0,0.2);
border-radius: 5%;
}
.tablita:hover {
  box-shadow: 0 8px 8px 0 #080c0b;
}
.img_Logoizq-container{
  
    width:200px; 
    height:200px;
  }
  nav li {
     float: right;
  }
.botn{

}

  
  .Cuadrito{
    margin-left: -15px;
  }
  .mapa_Logo{
    /*position: fixed;
    margin-top: 300px;
    margin-left: 235px;*/
    width: 40px;
    height: 40px;
  }
  
  .brandInicio-container{
      position: absolute;
      margin-top: 30px;
      margin-left: 1050px;
  }
  
  .searchVivienda-container{
      position: absolute;
      margin-top: 250px;
      margin-left: 70px;
  }
  
  .listadoVivienda-container{
      position: absolute;
      margin-top: 100px;
      margin-left: 400px;
      height: 200px;
      width: 65%;
  }
  
  
  
  .guardarBusqueda-container{
      position: absolute;
      margin-top: 580px;
      margin-left: 85px;
  }
  
  .visualizarMapa-container{
      position: absolute;
      margin-top: 300px;
      margin-left: 85px;
  }
  .img_Logoizq-container{

    width:100px; 
    height:100px;
  
  } 
  .dropDown-container{
      position: absolute;
      margin-top: 60px;
      margin-left: 405px;
  }
  
  .dropDownPrecio-container{
      position: absolute;
      width: 10%;
      margin-top: 350px;
      margin-left: 85px;
  }
  .form-group{
    width: 50px;
  }
  
  .dropDownCamas-container{
      position: absolute;
      margin-top: 530px;
      margin-left: 85px;
  }
  
  .dropDownBanos-container{
      position: absolute;
      margin-top: 475px;
      margin-left: 85px;
  }
 
  
  .lf{
     
    border-radius: 10px;
    background: red;
    border-color: black;
  }
  .cardLogo-container{
      position: absolute;
      margin-top: 100px;
      margin-left: 20px;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
   
    position: absolute;
    right: 50px;
    font-family: sans-serif;
    
  }
  
  
  @media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
  
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
      top: -35px;
    }
  }
  .ojo{
    width:35px;
    height: 35px;
  }
  .img_Perfil{
    position: absolute;
    margin-left: 1000px;
    margin-top: -65px;
    width: 50px;
    height: 50px;
  }
  /*body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
  }
  */
  
  .nombre{
    position: absolute;
    margin-top: 180px;
    margin-left: 400px;
  }
 
  
  
  

    .contenedor-check .checkbox { 
      position: absolute; 
      margin-top: 25px;
      width: 15px;
      height: 15px;
      background-color: white;
      outline: none;
      transform:rotate(45deg);
      -webkit-appearance: none;
      
    }

    .contenedor-check .checkbox::before{
      position: absolute;
      content: "";
      background-color:  white;
      height: 70%;
      width: 100%;
      top:-59%;
      border-radius: 75px 75px 0 0;
    }

    .contenedor-check .checkbox::after{
      position: absolute;
      content: "";
      background-color: white;
      height: 60%;
      width: 100%;
      transform: rotate(-90deg);
      border-radius: 75px 75px 0 0;
      top:20%;
      right: 79%;
    }

    .contenedor-check .checkbox.checkbox:checked,
    .contenedor-check .checkbox.checkbox:checked::before,
    .contenedor-check .checkbox.checkbox:checked::after{
      background-color: #fe0f42;
    }
