<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--<img class="img_Logoizq-container " src="https://imgur.com/yzmpQ2X.png" >-->
   
    <ul class="navbar-nav mr-auto">
      
    </ul>
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home" > 
            <i class="fa fa-envelope-o"><img  src="https://imgur.com/UizFbwu.png" ></i>Inicio
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link">
          <i class="fa fa-envelope-o"><img class="ojo" src="https://imgur.com/vcisxpx.png" ></i>Comprar
        </a>
    </li>

    
      <li class="nav-item ">
        <a class="nav-link" href="/home">
          <i class="fa fa-envelope-o"><img class="ojo" src="https://imgur.com/ujsrMoi.png" ></i>Vender
        </a>
    </li>
     
      <li class="nav-item ">
        <a class="nav-link" href="/home">
          <i class="fa fa-envelope-o"><img class="ojo" src="https://imgur.com/1VAWRJI.png" ></i>Alquilar
        </a>
    </li>
    </ul>
    
  </div>
</nav>
<div>



<div class = "container dropDown-container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ordenar por
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Relevancia</a>
          <a class="dropdown-item" href="#">De bajo a alto precio</a>
          <a class="dropdown-item" href="#">De alto a bajo precio</a>
          <a class="dropdown-item" href="#">Más reciente</a>
        </div>
      </div>
</div>

<!--<div class = "container cardLogo-container">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Logo</h5>
          <p class="card-text">LOGO</p>
        </div>
    </div>
</div>-->

<div>
    <form (ngSubmit)="filtrarVivienda()">
        <div class = "container searchVivienda-container">
            <div class="form-inline my-2 my-lg-0">
              <input type="text" class="form-control" id="ubicacion" [(ngModel)]="ubicacion" name="ubicacion" placeholder="Search" aria-label="Search">
              <button type="submit" class="btn btn-success">Search</button>
            </div>
        </div>
        <div class = "listadoVivienda-container">
            <div class="table-reponsive">
                <div class="card-body text-black">
                    <h5 class="card-title">Viviendas</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Codigo</th>
                                <th>Precio</th>
                                <th>Dimension</th>
                                <th>Ubicacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of viviendas;let index = index; let lastcall = last">
                                <span *ngIf="compruebaIndice(index)">{{fetchEvent(p.codigo)}}</span>
                                <a [routerLink] = "['/filtrarVivienda/showVivienda', p.codigo]"><td><img [src]="retrievedImage[index]" height="200px" width="200px" ></td></a>
                                <th>{{p.codigo}}</th>
                                <th>{{p.precio}}</th>
                                <th>{{p.dimension}}</th>
                                <th>{{p.ubicacion}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>    
            </div>  
        </div>
    </form>
</div>


<div>
    <img class="mapa_Logo" src="https://imgur.com/Yf7oUDX.png" >
</div>

<div class ="visualizarMapa-container">
    <button type="button" class="btn btn-secondary">Visualizar en Mapa</button>
</div>

<div class="container Cuadrito " >
<div class =" misGustos-container">
    <button type="button" class="btn btn-secondary">Con relación a mis gustos</button>
</div>


<div class ="limpiarFiltro-container">
    <button type="button" class="lf">Limpiar filtros</button>
</div>


<div class = "dropDownPrecio-container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Precio
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Prueba</a>
        </div>
    </div>
</div>
<div class = "dropDownCamas-container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Camas
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Prueba</a>
        </div>  
    </div>
</div>
<div class = "dropDownBanos-container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Baños
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Prueba</a>
        </div>
    </div>
</div>

<div class = "guardarBusqueda-container">
    <nav>
      <!--<a routerLink = "listaEntidades" class = "btn btn-primary active" (click) = "toggleisClickedListado()">Listado Entidades</a>-->
      <a routerLink = "showVivienda" class = "btn btn-primary active">Guardar busqueda</a>
    </nav>
</div>
</div>
<img class="img_Logoizq-container " src="https://imgur.com/yzmpQ2X.png" >

<a href="/home"><img class="img_Perfil " src="https://imgur.com/Ptsg9hx.png"></a>
<router-outlet></router-outlet>

