     <div class="container">
            <div class="row" align="center">
            <div class="col" >

          <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
      <div class="col ">
        <div  class="Titutlo-container">
        <br>
          <h1>FindYourHome</h1>
        </div>
      </div>
      <div class="col">
        <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
    </div>
<hr style="border:20px;" style="width:100%" style="border-color:black;">
  </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class = "margen-izq">
        <h2>¡Hola, {{usuario.cliente.nombre}} {{usuario.cliente.apellido}}! </h2>
        <div class = "contenedor-accion">
          <a><h3>Mis favoritos</h3></a> 
          <form action="">
            <a class = "compras" [routerLink] = "['/perfilusuario/compras']"><h3>Mis compras</h3></a>
            <a class = "configurar" [routerLink] = "['/perfilusuario/configurar']"><h3>Configurar</h3></a>
            <a class = "cerrar-sesion" (click) = "logOut()"[routerLink] = "['/eleccion']"><h3>Cerrar sesión</h3></a>
          </form>
        </div>
      </div>  
    </div>
    <div class="col">
      
    </div>
  </div>
</div>

