
<div class="container">
  <div class="row" align="center">
    <div class="col" >

          <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
      <div class="col ">
        <div  class="Titulo-container">
          <br><br>
          <h1>FindYourHome</h1>
          <h3>Actualice sus datos</h3>
        </div>
      </div>
      <div class="col">
        <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
    </div>
    
<hr style="border:20px;" style="width:100%" style="border-color:black;">
  </div>  


<div class="container">
  <div class = "row ">
    <div class="col-3 margen-izq">
      <h2 align="center">¡Hola, {{usuario.cliente.nombre}}! </h2>
      <div class = "contenedor-accion">
        <form action="">
      <h3>&nbsp; &nbsp;Mis compras</h3>
          <a class = "configurar" [routerLink] = "['/actualizarCliente']"><label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mis favoritos</label></a>
          <br>
          <a class = "configurar" [routerLink] = "['/perfilusuario/compras']"><label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contactados</label></a>

      <h3>&nbsp; &nbsp;Configurar</h3>
          <a class = "configurar" [routerLink] = "['/actualizarCliente']"><label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actualizar mis datos</label></a>
       <a class = "ce" [routerLink] = "['/filtrarVivienda']"><h3>&nbsp; &nbsp;Buscar vivienda</h3></a>
      <a class = "cerrar-sesion" (click) = "logOut()"[routerLink] = "['/eleccion']"><h3>&nbsp; &nbsp;Cerrar sesión</h3></a>
      </form>
    </div> 
</div>

<div class="col-md-6 col-md-offset-3" align="center">
    <div class="well well-sm">
        <form class="form-horizontal"  action="" method="post">
            <fieldset>
                <form (ngSubmit) = "actualizar()" #registrarForm="ngForm" >                            
                    <div class = "form-group">
                        <h5 class="col-md-3 control-label" for = "correo">Correo</h5>
                        <div class="col-md-9">
                        <input type = "email" class = "form-control" id = "correo" [(ngModel)] = "cliente.correo" 
                        name ="correo" placeholder="jo@example.com" required
                         pattern="([a-zA-Z0-9_])*@(hotmail|gmail|outlook)(.com)">
                        </div>                   
                    </div>

                    <div class = "form-group">
                        <h5 class="col-md-3 control-label" for = "contrasena">Contraseña</h5>
                        <div class="col-md-9">
                            <input type = "password" class = "form-control" id = "contrasena" [(ngModel)] = "cliente.contrasena" name ="contrasena"
                            placeholder="mínimo 8 caracteres" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" required on="dsf">
                        </div>                   
                    </div>

                    <div class = "form-group">
                        <h5 class="col-md-5 control-label" for = "numeroContacto">Numero Contacto</h5>
                        <div class="col-md-9">
                        <input type = "tel" class = "form-control" id = "numeroContacto" [(ngModel)] = "cliente.numero" 
                        name ="numeroContacto" placeholder="987 654 321" required pattern="[0-9]{3} [0-9]{3} [0-9]{3}">
                        </div>
                    </div>
         
                    <div class = "form-group" align="center">
                        <button type="submit" class = "btn btn-success" onclick="location.href='/perfilusuario'" [disabled]="registrarForm.form.invalid">Actualizar</button>
                    </div>  
                    </form>  
                </fieldset>
                </form>
            </div>                  
            
           
</div>


</div>


