<h1>Registro de Entidades</h1>
<div class = "container buttonRegistroCliente-container">
    <nav>
      <a routerLink = "newCliente" class = "btn btn-primary active">Registrar Cliente</a>
    </nav>
</div>

<div class = "container buttonRegistroPublicador-container">
    <nav>
      <a routerLink = "newPublicador" class = "btn btn-primary active">Registrar Publicador</a>
    </nav>
</div>

<div class = "container buttonRegistroVivienda-container">
    <nav>
      <a routerLink = "newVivienda" class = "btn btn-primary active">Registrar Vivienda</a>
    </nav>
</div>

<router-outlet></router-outlet>
