
<nav class ="navbar navbar-expand-lg navbar-light bg-light">
    <div class = "container brandComprar-container">
        <a class="navbar-brand" href="#">comprar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class = "container brandVender-container">
        <a class="navbar-brand" href="#">vender</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class = "container brandAlquilar-container">
        <a class="navbar-brand" href="#">alquilar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class = "container brandInicio-container">
        <a class="navbar-brand" href="#">inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
</nav>

<div class="container descripcionBox-container">
    <body>
        <h2>Departamento A</h2>
        <h3>S/.234435</h3>
        <p>924 Av.Grau, 31509</p>
        <br>
        <p>2 habitaciones &nbsp;&nbsp;&nbsp;&nbsp; 2 baños &nbsp;&nbsp;&nbsp;&nbsp; 80m^2</p>
    </body>
</div>

<div class="container detalleBox-container">
    <body>
        <h3>Detalles del inmueble</h3>
        <br>
        <h4>Gestión</h4>
        <h6>Mascotas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Si</h6> 
        <h6>Control de renta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No</h6> 
        <h6>Estilo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; Minimalista</h6> 
        <h6>Estacionamiento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Si</h6>
        <h6>Areas verdes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No</h6>  
    </body>
</div>

<div class="container detalleInmobiliaria-container">
    <body>
        <h3>Inmobiliarias Eisac</h3>
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(650) 298-8476</p>
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 estrellas</p>
    </body>
</div>

<div class="container contactarInmobiliaria-container">
    <button type="button" class="btn btn-secondary">Contactar</button>
</div>

<div class = "container cardLogo-container">
    <div class="card" style = "width: 40rem; height: 12rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">IMAGEN</h1>
        </div>
    </div>
</div>

<div class ="container cardGrid1-container">
    <div class="card" style = "width: 20rem; height: 10rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">IMAGEN</h1>
        </div>
    </div>
</div>

<div class ="container cardGrid2-container">
    <div class="card" style = "width: 20rem; height: 10rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">IMAGEN</h1>
        </div>
    </div>
</div>

<div class ="container cardGrid3-container">
    <div class="card" style = "width: 20rem; height: 10rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">IMAGEN</h1>
        </div>
    </div>
</div>

<div class ="container cardGrid4-container">
    <div class="card" style = "width: 20rem; height: 10rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">IMAGEN</h1>
        </div>
    </div>
</div>

<div class="container hagamosTour-container">
    <h4>Hagamos un Tour</h4>
</div>

<!--<div class="container cardTour1-container">
    <div class="card" style= "width: 12;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jueves</h5>
          <h6>15</h6>      
        </div>
      </div>
</div>-->

<div class="container cardTour2-container">
    <div class="card" style="width: 12rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Viernes</h5>
          <h6>16</h6>      
        </div>
      </div>
</div>

<div class="container cardTour3-container">
    <div class="card" style="width: 12rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sabado</h5>
          <h6>17</h6>         
        </div>
      </div>
</div>

<div class="container iconScroll-container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">9:00 AM</a></li>
          <li class="page-item"><a class="page-link" href="#">9:30 AM</a></li>
          <li class="page-item"><a class="page-link" href="#">10:00 AM</a></li>
          <li class="page-item"><a class="page-link" href="#">10:30 AM</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>    
</div>

  