<div class="container">
            <div class="row" align="center">
            <div class="col" >

          <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
      <div class="col ">
        <div  class="Titulo">
          <h1>FindYourHome</h1>
       
        </div>
      </div>
      <div class="col">
        <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
    </div>
<hr style="border:20px;" style="width:100%" style="border-color:black;">
  </div>

<div class="container">
  <div class="row">
    <div class="col">
        <div class = "container">
            <h2>Imágenes de la vivienda</h2>
            <span class = "border "><img [src]="devuelveImagen()" alt="Placeholder" class="placeholder" height="450px" width="550px" class="rounded"></span>
          <div class = "container">
            <br>
            <div class = "row">
              <div class = "imagenes" *ngFor="let plano of listaPlano;let index = index">
                <a (click) = "cargaImagen(index)"><img [src]="retrievedImage[index]" height="60px" width="60px">&nbsp;</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <h2>Departamento</h2>
        <div>
          <h1>${{vivienda.precio}}</h1>
          <h2>{{vivienda.distrito}} </h2>
          <h3>{{vivienda.direccion}} {{vivienda.numero}}</h3>
          <h3>En venta</h3>
          <h5>N. Habitaciones: {{vivienda.numHabitaciones}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N. Baños: {{vivienda.numBano}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dimension: {{vivienda.dimension}}m2</h5>
        </div>
        <hr style="border:20px;" style="width:100%" style="border-color:black;">
    <div class="container">
    <body>
        <h3>Detalles del inmueble</h3>
        <h3>Gestión</h3>
        <h5>Mascotas:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{vivienda.permiteMascota}}</h5>
        <h5>Control de renta:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vivienda.tienecontrolRenta}}</h5>
        <h5>Estilo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A tu eleccion</h5>
        <h5>Estacionamiento:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vivienda.tieneGaraje}}</h5>
        <h5>Estructura:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{vivienda.tipoEstructura}}</h5>
    </body>
    </div>

    </div>
  </div>
  <br><br>
  <DIV class="row">
    <div class="col">
        <div class="container">
  <h2>Elige el diseño de sus sueños</h2>
  <div class="container diseno">
    <div class="row">
      <div class="col">
        <div id="carouselExampleCaptions2" class="carousel slide " data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions2"  *ngFor="let diseno of listaDiseno;let index = index" [attr.data-slide-to]="index"></li>
          </ol>
          <div class="carousel-inner carrosl">
            <div class="carousel-item" *ngFor="let diseno of listaDiseno;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
              <img class ="pic" [src]="retrievedImageDiseno[index]"  alt = "disenoimg">
              <img class = "picbig" [src]="retrievedImageDiseno[index]" alt = "disenoimg">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>  
      </div>
    </div>
  </div>
</div>

    </div> 
    <div class="col" >
        <h2>Contáctanos!</h2>
        <label> RUC: {{publicador.razonSocial}}</label>
        <br>
        <label>
         Contacto: {{publicador.numero}}</label><br>
          <td *ngIf = "authService.hasRole('ROLE_CLIENTE')">
            <button type="button" class="btn btn-secondary" id = "btn-abrir-popup" (click) = "mostrarPopup()">Contactar</button>
          </td>
       
   </div>  
   
  </DIV>
</div>

<div class = "overlay" id = "overlay">
  <div class = "popup" id = "popup">
    <h3>Contactado</h3>
    <h4>El publicador se pondrá en contacto contigo</h4>
    <form action="">
      <button type = "button" class = "btn-submit" [routerLink] = "['/filtrarvivienda']">Finalizar</button>
    </form>
  </div>
</div>
<br>

  <div #divClick (click)="getUrl()"></div>
