

<form #loginForm = "ngForm" (ngSubmit) = "loginCliente()">
    <small class = "text-danger">{{msg}}</small>
    <div class = "form-group">
      <input type= "email" class = "form-control" id = "email" placeholder="Correo" name = "email" style="width:300px; border-radius: 6px" [(ngModel)]="username">
    </div>
    <div class = "form-group">
      <input type= "password" class = "form-control" id = "password" placeholder="Contraseña" name = "password" style="width:300px; border-radius: 6px" [(ngModel)]="contrasena">
    </div>
    <button type="submit" class="btn-success" >Ingresar</button>
  </form>