@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.img_Logoizq-container{
  
    width:150px; 
    height:150px;
  }
  nav li {
     float: right;
  }
  #btn{
    width: 10px;
  }
  .Cuadrito{
    margin-left: -15px;
  }
  .mapa_Logo{
    /*position: fixed;
    margin-top: 300px;
    margin-left: 235px;*/
    width: 40px;
    height: 40px;
  }
  
  .brandInicio-container{
      position: absolute;
      margin-top: 30px;
      margin-left: 1050px;
  }
  
  .searchVivienda-container{
      position: absolute;
      margin-top: 250px;
      margin-left: 70px;
  }
  
  .listadoVivienda-container{
      position: absolute;
      margin-top: 100px;
      margin-left: 400px;
      height: 200px;
      width: 65%;
  }
  
  
  
  .guardarBusqueda-container{
      position: absolute;
      margin-top: 580px;
      margin-left: 85px;
  }
  
  .form-group{
    width: 50px;
  }
  
  .dropDownCamas-container{
      position: absolute;
      margin-top: 530px;
      margin-left: 85px;
  }
  
  .dropDownBanos-container{
      position: absolute;
      margin-top: 475px;
      margin-left: 85px;
  }
 
  
 
  

.margen-izq{
  height: 91%;
  width: 30%;
  background-color: rgb(248, 242, 242);
}

.margen-izq h2{
  margin-top: 10px;
  margin-left: 10px;
}


.contenedor-accion form .ventas{
  height: 40px;
  line-height: 40px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
}

.contenedor-accion form .ventas:hover{
  color: rgb(108, 147, 231);
}

.contenedor-accion form .configurar{
  height: 40px;
  line-height: 40px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
}

.contenedor-accion form .configurar:hover{
  color: rgb(108, 147, 231);
}

.contenedor-accion form .cerrar-sesion{
  height: 40px;
  line-height: 40px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
}

.contenedor-accion form .cerrar-sesion:hover{
  color: rgb(108, 147, 231);
}

.table-responsive{
    position: absolute;
    top: 55px;
    left: 260px;
    width: 80%;
}