
<div class="container">
            <div class="row " align="center">
            <div class="col" >

          <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
      <div class="col ">
        <div  class="Titutlo-container">
        <br><br><br>
          <h1>FindYourHome</h1>
		<h4>Agrega imágenes a tu inmueble</h4>
        </div>
      </div>
      <div class="col">
        <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
    </div>
<hr style="border:20px;" style="width:100%" style="border-color:black;">
  </div>

<div class="container">
	<div class="row">
	  <div class="col">

		<h3>Imagenes Plano</h3>
		<ngx-dropzone (change)="onSelect($event)">
			<ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
			<ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
				<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
			</ngx-dropzone-preview>
		</ngx-dropzone>
		
		<p>A custom dropzone.</p>
		
		<div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
			<ngx-dropzone-label>
				<div>
					<h2>My custom dropzone</h2>
				</div>
			</ngx-dropzone-label>
			<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
				<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
			</ngx-dropzone-image-preview>
		</div>
	  </div>

	  <div class="col">

		<h3>Imagenes Diseño</h3>
		<ngx-dropzone (change)="onSelectDiseno($event)">
			<ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
			<ngx-dropzone-preview *ngFor="let f of filesDiseno" [removable]="true" (removed)="onRemoveDiseno(f)">
				<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
			</ngx-dropzone-preview>
		</ngx-dropzone>

		<p>A custom dropzone.</p>

		<div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelectDiseno($event)">
			<ngx-dropzone-label>
				<div>
					<h2>My custom dropzone</h2>
				</div>
			</ngx-dropzone-label>
			<ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesDiseno" [file]="f" [removable]="true" (removed)="onRemoveDiseno(f)">
				<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
			</ngx-dropzone-image-preview>
		</div>
	  </div>

	</div>
	<div class="row" align="center">
	<div class = "btn" >
    <a class = "btn btn-lm text-white btn-success" (click) = "agregarImagenes()" onclick="location.href='/perfilpublicador'">Añadir imagenes</a>
	</div>
	</div>
</div>