

<div *ngIf = "isEncuestaRoute()" align="center" >
    <h3 >Test de preferencias </h3>
    <H5 >Elija texturas </H5>
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <IMG SRC="textura1" align:center WIDTH=272 HEIGHT=92 >
    <nav>
        <a routerLink="msgRegistro" class="btn btn-primary active">Finalizar</a>
    </nav>
</div>


