<h1>Listado de Entidades</h1>
<div class = "container buttonListadoCliente-container">
    <nav>
      <a routerLink = "listCliente" class = "btn btn-primary active">Listado Clientes</a>
    </nav>
</div>

<div class = "container buttonListadoPublicador-container">
    <nav>
      <a routerLink = "listPublicador" class = "btn btn-primary active">Listado Publicadores</a>
    </nav>
</div>

<div class = "container buttonListadoVivienda-container">
    <nav>
      <a routerLink = "listVivienda" class = "btn btn-primary active">Listado Viviendas</a>
    </nav>
</div>

<router-outlet></router-outlet>
