<nav class ="navbar navbar-expand-lg navbar-light bg-light">
    <div class = "container brandComprar-container">
        <a class="navbar-brand" href="#">comprar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class = "container brandVender-container">
        <a class="navbar-brand" href="#">vender</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class = "container brandAlquilar-container">
        <a class="navbar-brand" href="#">alquilar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
    <div class = "container brandInicio-container">
        <a class="navbar-brand" href="#">inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
</nav>
<div>
    <br>
    <hr style="width:100%;border-color:black;">
</div>

<div class = "container labelHead-container">
    <h1>Dinos quién eres</h1>
</div>

<div class = "container independienteButton-container">
    <nav>
      <a routerLink = "publicarInmueble" class = "btn btn-primary active">Independiente</a>
    </nav>
</div>

<div class = "container inmobiliariaButton-container">
    <nav>
      <a routerLink = "publicarInmueble" class = "btn btn-primary active">Empresa inmobiliaria</a>
    </nav>
</div>