
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<img class="img_Logoizq-container " src="https://imgur.com/yzmpQ2X.png" >-->
     
      <ul class="navbar-nav mr-auto">
        
      </ul>
       <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home" > 
              <i class="fa fa-envelope-o"><img  src="https://imgur.com/UizFbwu.png" ></i>Inicio
          </a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link">
            <i class="fa fa-envelope-o"><img class="ojo" src="https://imgur.com/vcisxpx.png" ></i>Comprar
          </a>
      </li>
  
      
        <li class="nav-item ">
          <a class="nav-link" href="/home">
            <i class="fa fa-envelope-o"><img class="ojo" src="https://imgur.com/ujsrMoi.png" ></i>Vender
          </a>
      </li>
       
        <li class="nav-item ">
          <a class="nav-link" href="/home">
            <i class="fa fa-envelope-o"><img class="ojo" src="https://imgur.com/1VAWRJI.png" ></i>Alquilar
          </a>
      </li>
      </ul>
      
    </div>
  </nav>
  <div>
<a href="/home"><img class="img_Perfil " src="https://imgur.com/Ptsg9hx.png"></a>


<div class = "margen-izq">
    <h2>¡Hola, {{cliente.nombre}} {{cliente.apellido}}! </h2>
    <div class = "contenedor-accion">
      <a><h3>Mis favoritos</h3></a> 
      <a><h3>Historial</h3></a>
      <form action="">
        <a class = "compras" [routerLink] = "['/perfilusuario/compras', codigoCliente]"><h3>Mis compras</h3></a>
        <a class = "configurar" [routerLink] = "['/perfilusuario/configurar', codigoCliente]"><h3>Configurar</h3></a>
        <a class = "cerrar-sesion" [routerLink] = "['/home']"><h3>Cerrar sesión</h3></a>
      </form>
    </div>
</div>  


<div class= "contenedor-compras">
    <div class = "listadoVivienda-container">
        <div class="table-reponsive">
            <div class="card-body text-black">
                <h2>Contactado</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Codigo</th>
                            <th>Precio</th>
                            <th>Dimension</th>
                            <th>direccion</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of viviendas;let index = index; let lastcall = last">
                        <td><img [src]="retrievedImage[index]" height="200px" width="200px" ></td> 
                        <th>{{p.codigo}}</th>
                        <th>{{p.precio}}</th>
                        <th>{{p.dimension}}</th>
                        <th>{{p.direccion}}</th>
                      </tr>
                    </tbody>
                </table>
            </div>    
        </div>  
    </div>
</div>

