
<div class="container">
  <div class="row" align="center">
    <div class="col" >

          <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
      <div class="col ">
        <div  class="Titulo-container">
          <br><br>
          <h1>FindYourHome</h1>
          <h3>Mis compras</h3>
        </div>
      </div>
      <div class="col">
        <img class="img_Logoizq-container" src="https://imgur.com/yzmpQ2X.png">
      </div>
    </div>
    
<hr style="border:20px;" style="width:100%" style="border-color:black;">
  </div>  

<div class="container">
  <div class="row">
    <div class = "margen-izq">
    <h2 align="center">¡Hola, {{usuario.cliente.nombre}}! </h2>
    <div class = "contenedor-accion">
      <form action="">
      <h3>&nbsp; &nbsp;Mis compras</h3>
          <a class = "configurar" [routerLink] = "['/perfilusuario/compras']"><label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mis favoritos</label></a>
          <br>
          <a class = "configurar" [routerLink] = "['/perfilusuario/compras']"><label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contactados</label></a>

      <h3>&nbsp; &nbsp;Configurar</h3>
          <a class = "configurar" [routerLink] = "['/actualizarCliente']"><label>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actualizar mis datos</label></a>
      <a class = "ce" [routerLink] = "['/filtrarVivienda']"><h3>&nbsp; &nbsp;Buscar vivienda</h3></a>
      <a class = "cerrar-sesion" (click) = "logOut()"[routerLink] = "['/eleccion']"><h3>&nbsp; &nbsp;Cerrar sesión</h3></a>
      </form>
    </div>
</div>

</div>
<br>
<div class="margen-der">
<div class= "contenedor-compras">
    <div class = "listadoVivienda-container">
        <div class="table-reponsive">
            <div class="card-body text-black">
                <h2>Contactado</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Codigo</th>
                            <th>Precio</th>
                            <th>Dimension</th>
                            <th>direccion</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of viviendas;let index = index; let lastcall = last">
                        <td><img [src]="retrievedImage[index]" height="200px" width="200px" ></td> 
                        <th>{{p.codigo}}</th>
                        <th>{{p.precio}}</th>
                        <th>{{p.dimension}}</th>
                        <th>{{p.direccion}}</th>
                      </tr>
                    </tbody>
                </table>
            </div>    
            </div>
        </div>  
    </div>
</div>
</div>

